.navbar {
	border-radius: 0px;
}

.navbar-default {
	background-color: #F3F3F3;
	border-color: #DDD;
}

.navbar-nav > li {
	text-transform: uppercase;
	font-family: 'Open Sans', 'Arial';
}

@media (min-width:768px){
	.navbar-form{
		width:350px;
		border:0;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		padding-bottom:0;
		-webkit-box-shadow:none;
		box-shadow:none
	}
}

.panel-bg-1 {
	background: url("../img/bg-1.png");
}

.thumbnail a:hover img {
	opacity: 0.7;
}

.thumbnail > .caption h3 {
	margin-top: 0px;
	font-weight: bold;
}

.thumbnail > .caption h3 span {
	margin-top: 0px;
	font-weight: normal;
}

.thumbnail > .caption h3, p {
	font-size: 12px;
	font-family: 'Open Sans', 'Arial';
}

.thumbnail {
	min-height: 470px;
	max-height: 470px;
}

.thumbnail img {
	max-height: 320px;
}

.z-ansicht-fontsize {
	font-size: 13px;
}

.z-ansicht-padding {
	padding: 2px 0px 2px 0px;
	margin-bottom: 0.5px;
}

.z-ansicht-padding:hover {
	background: #F3F3F3;
	border-radius: 2px;
}

#msg {
	font-size: 15px;
	color: green;
	text-align: center;
}